<nav
  class="mt-3 ms-4"
  style="--bs-breadcrumb-divider: '>'"
  aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/index" class="text-decoration-none">Inicio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Deportes</li>
  </ol>
</nav>
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center text-center mb-3">
      <div class="col-xl-6 col-lg-8 col-sm-10 section-title">
        <h2 class="font-weight-bold">Deportes</h2>
      </div>
    </div>
    <div
      class="row row-cols-1 row-cols-md-4 row-cols-xl-6 text-center justify-content-center px-xl-6 px-3 aos-init aos-animate"
      data-aos="fade-up"
    >
      <div class="col my-3" *ngFor="let sport of sports">
        <div
          *ngIf="
            sport.name !== 'Arribo de delegaciones' &&
            sport.name !== 'Ceremonia de inauguración' &&
            sport.name !== 'Ceremonia de clausura'
          "
          class="card border-hover-primary hover-scale"
          [routerLink]="['/sport', sport._id]"
          [queryParams]="{
            _id: sport._id,
            name: sport.name,
          }"
        >
          <div class="card-body">
            <div class="iconos-color mb-1">
              <i class="material-symbols-rounded">{{ sport.icon }}</i>
            </div>
            <h6 class="fw-bold texto-color">{{ sport.name }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
