<div *ngIf="loading" class="loadding-page h-100 w-100">
  <div class="cssload-box-loading"></div>
</div>
<div class="container mt-4 px-4 pb-5 mb-sm-1">
  <div class="row">
    @for (award of awards; track $index) {
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card border-0 mb-grid-gutter shadow-sm">
        <a class="card-img-tiles">
          <div class="main-img">
            <img class="rounded-3" src="/assets/cubo.jpeg" alt="Clothing" />
          </div>
        </a>
        <div class="card-body border mt-n1 py-4 text-center rounded-3">
          <h2
            [routerLink]="['/place']"
            [queryParams]="{}"
            class="h5 mb-1 letra"
          >
            {{ award.name?.replaceAll("OE. ", "") }}
          </h2>
          <span class="d-block mb-3 font-size-xs letraA"> Oro: 00 </span>
          <span class="d-block mb-3 font-size-xs letraA"> Plata: 00 </span>
          <span class="d-block mb-3 font-size-xs letraA"> Bronce: 00 </span>
          <strong class="d-block mb-3 font-size-xs letraA"> Total: 00 </strong>
        </div>
      </div>
    </div>
    }
  </div>
</div>
