.boton {
  background-color: var(--color-brillant-rose);
  color: white;
  border: none;
  width: 50px;
  height: 40px;
}

.boton:active {
  background-color: var(--color-brillant-rose-hover);
  color: white;
}

.project-list-table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}

.avatar-sm {
  height: 2rem;
  width: 2rem;
}
.rounded-circle {
  border-radius: 50% !important;
}

image {
  vertical-align: middle;
}

a {
  color: #3b76e1;
  text-decoration: none;
}
