<div class="preloader" *ngIf="loading">
  <div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
    <div class="loader-extra"></div>
    <div class="indicator">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/imgspecialolympics.appspot.com/o/icons%2FiconL.webp?alt=media&token=6a1bf66d-e217-4d47-8d8e-4b310fc78cdf"
        height="40px"
      />
    </div>
  </div>
</div>
<nav
  id="top"
  class="mt-3 ms-4"
  style="--bs-breadcrumb-divider: '>'"
  aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/index" class="text-decoration-none">Inicio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Medallero</li>
  </ol>
</nav>
<div class="container mt-4 px-2 px-md-4 pb-5 mb-sm-1">
  <div class="row px-0">
    <div class="col-md-3 col-sm-6 mb-3 col-6" *ngFor="let province of awards">
      <div class="card border-0 mb-grid-gutter shadow-sm">
        <a class="card-img-tiles">
          <div class="main-img">
            <img
              class="rounded-3 object-fit-"
              src="{{ province.img_url }}"
              alt="Clothing"
            />
          </div>
        </a>
        <div class="card-body border py-2 text-center rounded-3">
          <h2 class="h5 mb-3 letra">
            {{ province.name }}
          </h2>
          <span
            class="d-block mb-1 font-size-xs letraA"
            *ngIf="province.sponsor"
            >Colegio Padrino: {{ province.sponsor }}
          </span>
          <span class="d-block mb-1 font-size-xs letraA">
            <i class="fa-solid fa-award" style="color: #ffbf00"></i>
            Oro: {{ countOro(province.award) }}
          </span>
          <span class="d-block mb-1 font-size-xs letraA">
            <i class="fa-solid fa-award" style="color: #e3e4e5"></i>
            Plata: {{ countPlata(province.award) }}
          </span>
          <span class="d-block mb-1 font-size-xs letraA">
            <i class="fa-solid fa-award" style="color: #cd7f32"></i>
            Bronce: {{ countBronce(province.award) }}
          </span>
          <strong class="d-block mb-3 font-size-xs letraA">
            Total: {{ province.award.length }}
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>
