<div class="d-flex justify-content-evenly p-3 pt-sm-4 pt-lg-5">
  <ul
    class="nav nav-pills nav mb-3 justify-content-evenly fs-3"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item m-1" role="presentation">
      <button
        class="nav-link active"
        id="pills-d1-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-d1"
        type="button"
        role="tab"
        aria-controls="pills-d1"
        aria-selected="true"
      >
        Día 1
      </button>
    </li>
    <li class="nav-item m-1" role="presentation">
      <button
        class="nav-link"
        id="pills-d2-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-d2"
        type="button"
        role="tab"
        aria-controls="pills-d2"
        aria-selected="false"
      >
        Día 2
      </button>
    </li>
    <li class="nav-item m-1" role="presentation">
      <button
        class="nav-link"
        id="pills-d3-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-d3"
        type="button"
        role="tab"
        aria-controls="pills-d3"
        aria-selected="false"
      >
        Día 3
      </button>
    </li>
    <li class="nav-item m-1" role="presentation">
      <button
        class="nav-link"
        id="pills-d4-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-d4"
        type="button"
        role="tab"
        aria-controls="pills-d4"
        aria-selected="false"
      >
        Día 4
      </button>
    </li>
    <li class="nav-item m-1" role="presentation">
      <button
        class="nav-link"
        id="pills-d5-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-d5"
        type="button"
        role="tab"
        aria-controls="pills-d5"
        aria-selected="false"
      >
        Día 5
      </button>
    </li>
  </ul>
</div>

<div
  class="tab-content container-fluid justify-content-center"
  id="pills-tabContent"
>
  <div
    class="tab-pane fade show active"
    id="pills-d1"
    role="tabpanel"
    aria-labelledby="pills-d1-tab"
  >
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="candidate-list">
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div
                        style="height: 54px; width: 54px"
                        class="rounded-circle justify-content-center d-flex align-items-center circulo"
                      >
                        <i class="text-white fs-3 fa fa-solid fa-futbol"></i>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-3 mb-0">
                          <a class="primary-link" href="#">Futbol</a>
                        </h5>
                        <p class="text-muted mb-2">Futbol sala</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-location-dot"></i> Estadio
                            Uleam
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-clock"></i> 09:00H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="col-lg-3 d-flex justify-content-start justify-content-lg-end"
                    >
                      <button class="my-3 btn boton">Ver más</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="candidate-list">
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div
                        style="height: 54px; width: 54px"
                        class="rounded-circle justify-content-center d-flex align-items-center circulo"
                      >
                        <i class="text-white fs-3 fa fa-solid fa-futbol"></i>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-3 mb-0">
                          <a class="primary-link" href="#">Natacion</a>
                        </h5>
                        <p class="text-muted mb-2">Natación de 100m metros</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-location-dot"></i> Estadio
                            Uleam
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-clock"></i> 09:00H
                          </li>
                          <li class="list-inline-item">
                            <i class="fa-solid fa-calendar-days"></i> 1 de Abril
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="col-lg-3 d-flex justify-content-start justify-content-lg-end"
                    >
                      <button class="my-3 btn boton">Ver más</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="candidate-list">
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div
                        style="height: 54px; width: 54px"
                        class="rounded-circle justify-content-center d-flex align-items-center circulo"
                      >
                        <i class="text-white fs-3 fa fa-solid fa-futbol"></i>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-3 mb-0">
                          <a class="primary-link" href="#">Futbol</a>
                        </h5>
                        <p class="text-muted mb-2">Futbol sala</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-location-dot"></i> Estadio
                            Uleam
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-clock"></i> 09:00H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="col-lg-3 d-flex justify-content-start justify-content-lg-end"
                    >
                      <button class="my-3 btn boton">Ver más</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="candidate-list">
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div
                        style="height: 54px; width: 54px"
                        class="rounded-circle justify-content-center d-flex align-items-center circulo"
                      >
                        <i class="text-white fs-3 fa fa-solid fa-futbol"></i>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-3 mb-0">
                          <a class="primary-link" href="#">Futbol</a>
                        </h5>
                        <p class="text-muted mb-2">Futbol sala</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-location-dot"></i> Estadio
                            Uleam
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-clock"></i> 09:00H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="col-lg-3 d-flex justify-content-start justify-content-lg-end"
                    >
                      <button class="my-3 btn boton">Ver más</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div
    class="tab-pane fade"
    id="pills-d2"
    role="tabpanel"
    aria-labelledby="pills-d2-tab"
  >
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="candidate-list">
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div
                        style="height: 54px; width: 54px"
                        class="rounded-circle justify-content-center d-flex align-items-center circulo"
                      >
                        <i class="text-white fs-3 fa fa-solid fa-futbol"></i>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-3 mb-0">
                          <a class="primary-link" href="#">Futbol</a>
                        </h5>
                        <p class="text-muted mb-2">Futbol sala</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-location-dot"></i> Estadio
                            Uleam
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-clock"></i> 09:00H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="col-lg-3 d-flex justify-content-start justify-content-lg-end"
                    >
                      <button class="my-3 btn boton">Ver más</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div
    class="tab-pane fade"
    id="pills-d3"
    role="tabpanel"
    aria-labelledby="pills-d3-tab"
  >
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="candidate-list">
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div
                        style="height: 54px; width: 54px"
                        class="rounded-circle justify-content-center d-flex align-items-center circulo"
                      >
                        <i class="text-white fs-3 fa fa-solid fa-futbol"></i>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-3 mb-0">
                          <a class="primary-link" href="#">Futbol</a>
                        </h5>
                        <p class="text-muted mb-2">Futbol sala</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-location-dot"></i> Estadio
                            Uleam
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-clock"></i> 09:00H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="col-lg-3 d-flex justify-content-start justify-content-lg-end"
                    >
                      <button class="my-3 btn boton">Ver más</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div
    class="tab-pane fade"
    id="pills-d4"
    role="tabpanel"
    aria-labelledby="pills-d4-tab"
  >
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="candidate-list">
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div
                        style="height: 54px; width: 54px"
                        class="rounded-circle justify-content-center d-flex align-items-center circulo"
                      >
                        <i class="text-white fs-3 fa fa-solid fa-futbol"></i>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-3 mb-0">
                          <a class="primary-link" href="#">Futbol</a>
                        </h5>
                        <p class="text-muted mb-2">Futbol sala</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-location-dot"></i> Estadio
                            Uleam
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-clock"></i> 09:00H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="col-lg-3 d-flex justify-content-start justify-content-lg-end"
                    >
                      <button class="my-3 btn boton">Ver más</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div
    class="tab-pane fade"
    id="pills-d5"
    role="tabpanel"
    aria-labelledby="pills-d5-tab"
  >
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="candidate-list">
              <div class="candidate-list-box card mt-4">
                <div class="p-4 card-body">
                  <div class="align-items-center row">
                    <div class="col-auto">
                      <div
                        style="height: 54px; width: 54px"
                        class="rounded-circle justify-content-center d-flex align-items-center circulo"
                      >
                        <i class="text-white fs-3 fa fa-solid fa-futbol"></i>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="candidate-list-content mt-3 mt-lg-0">
                        <h5 class="fs-3 mb-0">
                          <a class="primary-link" href="#">Cositas</a>
                        </h5>
                        <p class="text-muted mb-2">Futbol sala</p>
                        <ul class="list-inline mb-0 text-muted">
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-location-dot"></i> Estadio
                            Uleam
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-solid fa-clock"></i> 09:00H
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="col-lg-3 d-flex justify-content-start justify-content-lg-end"
                    >
                      <button class="my-3 btn boton">Ver más</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
