.boton {
  background-color: var(--color-amber);
  color: white;
  border: none;
  width: 50px;
  height: 40px;
}

.botonT {
  font-size: small;
  border: none;
}

.pagination ::ng-deep {
  display: flex;
  padding: 0;
  align-items: center;
}

.pagination ::ng-deep .ngx-pagination {
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination ::ng-deep .ngx-pagination .current {
  background: var(--color-brillant-rose);
  border-radius: 5px;
}

.boton:active {
  background-color: var(--color-amber-hover);
  color: white;
  border-color: var(--color-brillant-rose-hover);
}

.ji + .botonS {
  background-color: var(--color-white-smoke);
}
.ji:checked + .botonS {
  background-color: var(--color-brillant-rose);
  color: white;
  border-color: var(--color-brillant-rose-hover);
}

.avatar-sm {
  height: 2rem;
  width: 2rem;
}
.rounded-circle {
  border-radius: 50% !important;
}

image {
  vertical-align: middle;
}

a {
  color: #3b76e1;
  text-decoration: none;
}

thead {
  font-size: 12px;
}

.letrq {
  font-size: 15px;
}

@media (max-width: 500px) {
  .letrq {
    font-size: 10px;
  }
  .imagen {
    display: none;
  }
  .ji + .botonS {
    font-size: 12px;
  }
}

.sport1 {
  background-color: var(--color-deep-sky-blue);
  color: white;
}

.sport2 {
  background-color: var(--color-school-bus-yellow);
  color: black;
}

.sport3 {
  background-color: var(--color-electric-violet);
  color: white;
}

.sport4 {
  background-color: var(--color-spring-bud);
  color: black;
}

.sport5 {
  background-color: var(--color-orange-wheel);
  color: white;
}

.sport6 {
  background-color: var(--color-rose);
  color: white;
}
