<nav
  class="mt-3 ms-4"
  style="--bs-breadcrumb-divider: '>'"
  aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/index" class="text-decoration-none">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/index" class="text-decoration-none">Atletas</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{athlete.name}}</li>
  </ol>
</nav>
<div class="container-fluid p-4 p-sm-4 p-lg-5 p-xl-5">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div
              class="d-flex flex-column object-fit-cover align-items-center text-center"
            >
              <img
                src="athlete.img_url"
                alt="img"
                class="rounded-circle"
                width="150"
                height="150"
              />
              <div class="mt-3">
                <h4>{{ athlete.name }}</h4>
                <p class="text-secondary mb-1">{{ athlete.age }} años</p>
                <p class="text-muted font-size-sm">
                  {{ athlete.address?.replace("OE. ", "") }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h6 class="d-flex align-items-center mb-3">Información</h6>
        <div class="card mb-3">
          <div class="card-body">
            <div class="row mt-2">
              <div class="col-sm-3">
                <h6 class="mb-0">Género</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ athlete.gender == "M" ? "Masculino" : "Femenino" }}
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Peto</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ athlete.sportsman_number }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Fecha de nacimiento</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ athlete.birthday }}</div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row gutters-sm">
          <div class="col-12 mb-3">
            <h6 class="d-flex align-items-center mb-3">Disciplinas</h6>
            <div class="accordion" id="accordionExample">
              <div
                class="accordion-item"
                *ngFor="let activity of athlete.activity"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed fw-medium"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + activity.id"
                    aria-expanded="false"
                    [attr.aria-controls]="'collapse' + activity.id"
                  >
                    {{ activity.name }}
                  </button>
                </h2>
                <div
                  id="collapse{{ activity.id }}"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    {{ activity.description }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
