ul > li {
  justify-content: center;
}
ul > li > a {
  color: var(--color-white-smoke);
}

.activo > a > i,
.activo > a > span {
  color: var(--color-amber);
  transform: scale(1.2);
}

.activo > a > span {
  font-weight: 400;
}

.activo::after {
  content: "";
  position: absolute;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid var(--color-celestial-blue);
  right: -10px;
  transform: translateY(-115%);
}

.sideb {
  background-color: var(--color-celestial-blue);
}
