.card-img-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fff;
  z-index: 5;
}

.card-img-tiles .main-img > img {
  display: block;
  width: 100%;
}

.card-img-tiles .main-img {
  width: 100%;
}

.letra {
  color: var(--color-davy-grey-hover);
  cursor: pointer;
}

.letraA {
  color: var(--color-davy-grey);
}

.letra:hover {
  color: var(--color-brillant-rose);
}
