<div *ngIf="loading" class="loadding-page h-100 w-100">
  <div class="cssload-box-loading"></div>
</div>
<div class="container mt-4 px-4 pb-5 mb-sm-1">
  <div class="row">
    @for (place of places; track $index) {
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card border-0 mb-grid-gutter shadow-sm">
        <a class="card-img-tiles">
          <div class="main-img">
            <img
              class="rounded-3"
              src="{{ place.img_url![0] }}"
              alt="Clothing"
            />
          </div>
          <div class="thumblist">
            <img
              class="rounded-3"
              src="{{ place.img_url![1] }}"
              alt="Clothing"
            /><img
              class="rounded-3"
              src="{{ place.img_url![2] }}"
              alt="Clothing"
            />
          </div>
        </a>
        <div class="card-body border mt-n1 py-4 text-center rounded-3">
          <h2
            [routerLink]="['/place', place.id]"
            [queryParams]="{
            name: place.name,
            address: place.address,
            img_url1: place.img_url![0],
            img_url2: place.img_url![1],
            img_url3: place.img_url![2],
            description: place.description,
          }"
            class="h5 mb-1 letra"
          >
            {{ place.name }}
          </h2>
          <span class="d-block mb-3 font-size-xs letraA">{{
            place.address
          }}</span>
        </div>
      </div>
    </div>
    }
  </div>
</div>
